<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>网上教育平台</title>
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
	body,html { height: 100%; }
	.top{
		background:#dedef8;
		height:39px;
		padding-top:6px;
	}
   </style>
 </head>
 <body>
   <div class="row">
      <div class="col-xs-6 col-sm-1 col-md-1">
      </div>
	  <div class="col-xs-6 col-sm-3 col-md-3 top">
		网上教育平台
      </div>
	  <div class="col-xs-6 col-sm-4 col-md-4 top" style='padding-top:6px;text-align:center;'>
		<input type='text'; name='search'/>&nbsp;
		<input type='submit' value='搜索'/>
      </div>
	  <div class="col-xs-6 col-sm-3 col-md-3 top" style='padding-top:3px;text-align:right'>
    <%if(!loginbean){%>
		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" href='/users/login'>登陆/注册</button>
    <%}else{%>
    你好,<%-loginbean.nicheng%>&nbsp;
    <a href='/'>首页</a>&nbsp;
    <a href='/home/'>消息
      <% if(loginbean.msgnum>0){%>
    <span class="badge"><%-loginbean.msgnum%></span>
    <%}else%></a>
    <% if(loginbean.role>0){ %>
      <a href='/home/'>个人空间</a>&nbsp;
    <% }else{%>
      <a href='/home/admin'>管理员空间</a>&nbsp;
    <% } %>
    <a href='/users/logout'>注销</a>&nbsp;
    <%}%>
      </div>
	  <div class="col-xs-6 col-sm-1 col-md-1">
      </div>
   </div>