  <% include header %>

<!-----------模态对话框----------------------- -->
   <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  <% include footer %>